:root {
--vkui--color_background_accent: #5fa858;
--vkui--color_background_accent--hover: #70b76a;
--vkui--color_background_accent--active: #e6f8eb;
--vkui--color_background_accent_themed: #5fa858;
--vkui--color_background_accent_themed--hover: #70b76a;
--vkui--color_background_accent_themed--active: #e6f8eb;
}